<a href="https://colab.research.google.com/github/TechEnthusiastArmaan/Daily_Diary/blob/main/day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#8/6
# SETS
# question 1
prime = {2,3,5,7,11,13,17,19,23}
print(prime)

# question 2
prime.add(7)
print(prime)

# question 3
prime.remove(3)
print(prime)

# question 4
a = {2,3,5,7,11}
print(prime.issubset(a))

# question 5
b = {7,11,13}
prime. union(b)
print(prime)

# question 6
fs = frozenset(prime)
print(fs)

# question 7
c = {1,4,9}
print(prime.intersection(c))

# question 8
print(prime.clear())

# question 9
fruits =  { 'apple', 'banana', 'orange' }
myfruits = {'watermelon','avacado','orange'}
print(fruits.intersection(myfruits))

# question 10
squares = {x**2 for x in range(1, 11)}
print(squares)

{2, 3, 5, 7, 11, 13, 17, 19, 23}
{2, 3, 5, 7, 11, 13, 17, 19, 23}
{2, 5, 7, 11, 13, 17, 19, 23}
False
{2, 5, 7, 11, 13, 17, 19, 23}
frozenset({2, 5, 7, 11, 13, 17, 19, 23})
set()
None
{'orange'}
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
# TUPLES
# question 1 - 10
tup1 = (1,1.2,"heyy")
print(tup1)
print(tup1[1])
tup2 = (2,4,6)
print(tup1 + tup2)
a, b, c = tup1
print(a)
print(b)
print(c)
print('apple' in tup1)
new = tup1* 3
print(new)
print(tup1.index(1.2))
lis = list(tup1)
print(lis)
colors = ('red','green','blue')
print(tup1+colors)

In [ ]:
# LIST
# question 1 - 10
lis1 = [1,2,3,4,5]
print(lis1)
print(lis1.append(6))
lis2 = [7,8,9]
print(lis1.extend(lis2))

In [ ]:
# DiCTIONARY
# question 1
student = {'Name': 'Ram', 'Age': '19', 'Grade':100}
print(student['Age'])
student['Grade'] = 99
print(student)
student['subject'] = 'Maths'
print(student)

# question 2
dict1 = {'a':1,'b':2,'c':3}
dict2 = {'d':4,'e':5,'f':6}
dict1.update(dict2)
merged_dict = dict1.copy()
print(merged_dict)
merged_dict.pop('a')
print(merged_dict)

19
{'Name': 'Ram', 'Age': '19', 'Grade': 99}
{'Name': 'Ram', 'Age': '19', 'Grade': 99, 'subject': 'Maths'}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
# question 3
students = {'Name': 'Ram', 'Age': '19', 'Grade':100}
for key,value in student.items():
    print(key,value)

Name Ram
Age 19
Grade 99
subject Maths

In [ ]:
# question 4
squares = {i: i**2 for i in range(1, 11)}
even_squares = {i: i**2 for i in range(1, 11) if i**2 % 2 == 0}
print(squares)
print(even_squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
# question 5
school = {
    "student1": {
        "Name": "Ram",
        "Age": 19,
        "Grade": 100
    },
    "student2": {
        "Name": "John",
        "Age": 17,
        "Grade": 90
    }
}

print(school["student1"])

print(school["student2"]["Age"])

{'Name': 'Ram', 'Age': 19, 'Grade': 100}
17

In [ ]:
# question 6
my_dict = {'a': 1, 'b': 2, 'c': 3}

num_items = len(my_dict)
print("Number of items:", num_items)

keys = my_dict.keys()
print("Keys:", keys)
values = my_dict.values()
print("Values:", values)

items = my_dict.items()
print("Items:", items)

Number of items: 3
Keys: dict_keys(['a', 'b', 'c'])
Values: dict_values([1, 2, 3])
Items: dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
# question 7
my_dict = {'c': 3, 'a': 1, 'b': 2}

sorted_keys = sorted(my_dict.keys())
print("Sorted keys:", sorted_keys)

Sorted keys: ['a', 'b', 'c']

In [ ]:
# question 8
my_dict = {'a': 1, 'b': 2, 'c': 3}

value = my_dict.get('d', 0)
print("Value for key 'd':", value)

removed_value = my_dict.pop('b')
print("Removed value for key 'b':", removed_value)
print("Updated dictionary:", my_dict)

Value for key 'd': 0
Removed value for key 'b': 2
Updated dictionary: {'a': 1, 'c': 3}

In [ ]:
# practice question (Sets)
# question 1

math_students = {'joey','chandler','ross','monica'}
science_students = {"Bob", "joey", "ross", "Luke"}

both_classes = math_students.intersection(science_students)

print(both_classes) # Output: {'David', 'Bob'}

{'joey', 'ross'}

In [ ]:
# question 2
employee_ids = {101, 102, 103, 104}

new_id = 105

employee_ids.add(new_id)

print(employee_ids)

{101, 102, 103, 104, 105}

In [ ]:
# question 3
project1_team = {"Alice", "Bob", "Charlie"}
project2_team = {"Bob", "David", "Eve"}

all_team_members = project1_team.union(project2_team)

print(all_team_members)

{'Eve', 'Bob', 'David', 'Alice', 'Charlie'}

In [ ]:
# question 5
products_in_stock = {1, 2, 3, 4, 5}
products_sold = {3, 5, 6}

remaining_stock = products_in_stock.difference(products_sold)

print(remaining_stock)

{1, 2, 4}

In [ ]:
# question 6
attendees = {"Alice", "Bob", "Charlie", "David"}

person_to_check = "Eve"

is_registered = person_to_check in attendees

print(f"Is {person_to_check} registered? {is_registered}")

Is Eve registered? False

In [ ]:
# question 8
tags = {"python", "programming", "tutorial"}

new_tags = {"data science", "machine learning"}

tags.update(new_tags)

print(tags)

{'data science', 'machine learning', 'programming', 'python', 'tutorial'}

In [ ]:
# practice question on dictionary
inventory = {"apple": 10, "banana": 15, "orange": 8}

new_item = "grape"
new_quantity = 12

inventory[new_item] = new_quantity

print(inventory)

In [ ]:
# question 3
country_capitals = {"USA": "Washington D.C.", "France": "Paris", "Japan": "Tokyo"}
country_to_update = "France"
new_capital = "Lyon"

# Update the capital of the country
country_capitals[country_to_update] = new_capital
print(country_capitals)

{'USA': 'Washington D.C.', 'France': 'Lyon', 'Japan': 'Tokyo'}